node_modules/
src/__pycache__/
.venv/
.mypy_cache/
.vscode/
src/game_of_life/__pycache__/
databases/users.db
databases/
static/js/
tests/__pycache__
__pycache__/
private_key.pem
public_key.pem
server.crt
server.key